/* Bar Chart */
.axis--x path {
  display: none;
}

.tick line {
  display: none;
}

.label {
  font-size: 13px;
  font-weight: 600;
}

.yAxisLabel {
  font-size: 13px;
  font-weight: 600;
}

.iconTooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 0;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  text-align: start;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
}

/* Donut Chart */
.donutBox {
  max-height: 100%;
}

.donutLegend {
  max-height: 100%;
}

.donutLegend .key {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 5px;
}

.donutLegend .symbol {
  height: 15px;
  width: 15px;
  margin: 5px;
}

.donutLegend .title {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
}

.donutLegend .textBig {
  font-size: 13px;
}

.donutLegend .textSmall {
  font-size: 11px;
}
