.appHeader {
  background-color: #f8f9fa;
}

.appTitle {
  font-size: 20px;
  font-weight: 700;
}

.viewContainer {
  font-size: 15px;
  font-weight: 600;
}

.appContainer {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.rightPane {
  height: 90%;
  background-color: #f8f9fa;
}

.infoContainer {
  height: 100%;
}

.texts p {
  font-size: 14px;
}

.texts .stateName {
  font-size: 17px;
  font-weight: 700;
}

.flex-fill {
  flex: 1 1 auto;
}

.textsDiv {
  height: 15%;
}

.barChart {
  height: 45%;
}

.donutChart {
  height: 40%;
}
