.appHeader {
  background-color: #f8f9fa;
}

.appTitle {
  font-size: 20px;
  font-weight: 700;
}

.viewContainer {
  font-size: 15px;
  font-weight: 600;
}

.appContainer {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.rightPane {
  height: 90%;
  background-color: #f8f9fa;
}

.textContainer {
  height: 15%;
}

.barContainer {
  height: 45%;
}

.donutContainer {
  height: 40%;
}
