.radioButton {
  color: #00000078;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.radioButton.active {
  color: black;
  background-color: #de6980;
  outline: 5px auto #6d0524;
}

.radioButton:focus {
  outline: 5px auto #6d0524;
}
